.body-main {
  display: flex;
  padding-top: 10px;
}

.footer-main {
  float: right;
  display: flex;
  width: 18%;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-main {
    width: 50%;
  }
}

.reset-button {
  text-decoration: underline;
  color: #1e7be2;
  font-family: Museo Sans;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
}

.button-result {
  background: #1e7be2;
  border-radius: 6px;
  border: 1px solid #1e7be2;
  color: white;
  margin-left: 10px;
}
.view-result-text {
  font-family: "MuseoSans-500";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
}
.box-number-result {
  font-family: "MuseoSans-500";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  /* or 112% */

  text-align: right;
}
.box-number-result-span {
  color: "#333333";
  font-weight: 600;
}
.link-number-result {
  color: #1e7be2;
  text-decoration: none;
}

/* Slide Wrapper */
.swiper {
  width: 100%;
  height: 100%;
}

/* Slide Container */
.swiper-container {
  margin-left: -20px;
  margin-right: -20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px;
}

.swiper-button-next {
  right: -8px;
}
.swiper-button-prev {
  left: -8px;
}
